header {
    border-bottom: 3px solid #c2c2c2;
    background-color: #eeeeee;
    margin-top: 0px;
    height: 10%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline{
    display:flex;
    justify-content: center;
}

header img {
    height: 5em;
}

header h1{
    color: #595959;
    margin: 0px 10px 0px 30px;
    padding: 0px 10px ;
    font-size: 60px;
    text-align: center;
}


#nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}


#navigation li {
    list-style: none;
    margin: 0 50px;
    padding: 10px;
    border: 3px solid black;

}

.nav-link {
    color: blue;
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: purple;
}


.playlist-content {
   background-color: #fefefe;
   margin: 250px auto 10px auto;
   padding: 20px;
   width: 80%; /* Could be more or less, depending on screen size */
   height: 80%;
   display: flex;
   justify-content: space-around;
}

.playlist-content .playlist-info {
    flex-basis: 60%;
}

.playlist-content .song-container {
    flex-basis: 40%;
}

.playlist-info img {
    height: 100%;
}

.playlist-info {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 25px;
    margin-bottom: 25px;
    align-items: center;;
    text-align: center;
    transform: scale(1.5);
}

#playlistName {
    font-size: 40px;
    margin: 0px auto;

}
#creatorName {
    font-size: 20px;
}

#playlistImage {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin-bottom: 0px;
}

.song-container {
    overflow: auto;
}

.song {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 15px;
    margin: 20px 0px;
    border: 2px solid black;
}

.song img {
    height: 75px;
}

.song-text h4, p {
    margin: 2px;
}
















footer {
    background-color: #eeeeee;
    border: 3px solid #c2c2c2;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0;
    margin-left: -10px;
}