
header {
    border-bottom: 3px solid #c2c2c2;
    background-color: #eeeeee;
    margin-top: 0px;
    height: 10%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline{
    display:flex;
    justify-content: center;
}

header img {
    height: 5em;
}

header h1{
    color: #595959;
    margin: 0px 10px 0px 30px;
    padding: 0px 10px ;
    font-size: 60px;
    text-align: center;
}


#nav-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0px;
}


#navigation li {
    list-style: none;
    margin: 0 50px;
    padding: 10px;
    border: 3px solid black;

}

.nav-link {
    color: blue;
    list-style-type: none;
    font-size: 20px;
    text-decoration: none;
}

.nav-link:hover {
    color: purple;
}

#playlist-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    margin: 50px 50px;
    justify-content: center;
    align-items: stretch;
    column-gap: 100px;

}

.p-card {
    margin: 50px auto;
    width: 60%;
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px;
    font-weight: 400;
}

.p-card img{
    width: 100%;
    border-radius: 5%;
    
}

.playlist-title {
    margin: 10px 0px;
    font-size: 20px;

}

.playlist-author {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
}

.playlist-like {
    all: unset;
    margin: 0px 0px 5px 5px;
    font-size: 30px;
}

.playlist-like:hover {
    color: red
}

.like-count{
    font-size: 25px;
    margin-left: 5px;
    padding-bottom: 10px;
    color: black;
}

.p-card:hover {
    background-color: lightskyblue;
    cursor:grab;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #f8f8f8;
}

footer {
    background-color: #eeeeee;
    border: 3px solid #c2c2c2;
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0;
    margin-left: -10px;
}


/* Modal Styling */
/* CSS for Modal */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


}
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
   
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.playlistImage {
    width: 30%;
}

.modal-playlist {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 25px;
    margin-bottom: 25px;
}

.playlistImage {
    width: 15%;
    border: 1px solid black;
}


.playlistName {
    font-size: 60px;
    margin: 25px 0px 10px 0px;
}

.creatorName {
    font-size: 40px;
}

.song {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    margin: 20px 0px;
    border: 2px solid black;
}
.song-content img {
    height: 110px;
    margin-right: 10px;
}

.song-content {
    display: flex;
}

.song-text h4, p {
    margin: 2px;
    font-size: x-large;
}

.song h6 {
    font-size: larger;
    margin-right: 15px;
}

.shuffle {
    margin-top: 5px;
    font-size: 20px;
    padding: 8px;
}